<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sports Mate</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/site.css" rel="stylesheet" />
    <script src="assets/lib/jquery-1.9.1.js"></script>
    <script src="assets/lib/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/SportsEventController.js"></script>
    <script src="app/services/SportsEventService.js"></script>    
</head>
<body ng-app="realestateApp" class="ng-scope">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sports Mate</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">    
    <div class="panel panel-default">
        <div class="panel-heading">
            Sports Mate App
        </div>
        <div class="container" ng-controller="tenantsController" ngcloak>
            <h1>Sports Events</h1>
            <div class="row">
                <div>
                    <button class="btn btn-primary" ng-click="previousTenant()">
                        Previous
                    </button>
                    <button class="btn btn-primary" ng-click="nextTenant()">
                        Next
                    </button>
                    <button class="btn btn-success" ng-click="addTenant()">
                        Add
                    </button>
                    <button class="btn btn-danger" ng-click="deleteTenant()">
                        Delete
                    </button>
                    <br style="clear:both">
                    <br>
                </div>
            </div>
            <div class="row">
                <div  ng-repeat="tenant in tenant">

                    <table border="0" class="pull-left">
                        <tr>
                            <td width="100">First Name: </td>
                            <td>
                                <input type="text" ng-model="tenant.FirstName" placeholder="Enter a name here">
                            </td>
                        </tr>
                        <tr>
                            <td>Last Name: </td>
                            <td>
                                <input type="text" ng-model="tenant.LastName" placeholder="Enter a name here">
                            </td>
                        </tr>
                        <tr>
                            <td>Company: </td>
                            <td>
                                <input type="text" ng-model="tenant.Company" placeholder="Enter a name here">
                            </td>
                        </tr>
                        <tr>
                            <td>Job Title: </td>
                            <td>
                                <input type="text" ng-model="tenant.JobTitle" placeholder="Enter a name here">
                            </td>
                        </tr>
                        <tr>
                            <td>Business Phone: </td>
                            <td>
                                <input type="text" ng-model="tenant.BusinessPhone" placeholder="Enter a name here">
                            </td>
                        </tr>
                        <tr>
                            <td>Home Phone: </td>
                            <td>
                                <input type="text" ng-model="tenant.HomePhone" placeholder="Enter a name here">
                            </td>
                        </tr>
                        <tr>
                            <td>Mobile Phone: </td>
                            <td>
                                <input type="text" ng-model="tenant.MobilePhone" placeholder="Enter a name here">
                            </td>
                        </tr>
                        <tr>
                            <td>Street: </td>
                            <td>
                                <input type="text" ng-model="tenant.Street" placeholder="Enter a name here">
                            </td>
                        </tr>
                        <tr>
                            <td>City: </td>
                            <td>
                                <input type="text" ng-model="tenant.City" placeholder="Enter a name here">
                            </td>
                        </tr>
                        <tr>
                            <td>State: </td>
                            <td>
                                <input type="text" ng-model="tenant.State" placeholder="Enter a name here">
                            </td>
                        </tr>
                        <tr>
                            <td>Country: </td>
                            <td>
                                <input type="text" ng-model="tenant.Country" placeholder="Enter a name here">
                            </td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td>
                                <input type="text" ng-model="tenant.Email" placeholder="Enter a name here">
                            </td>
                        </tr>
                        <tr>
                            <td>WebPage: </td>
                            <td>
                                <input type="text" ng-model="tenant.WebPage" placeholder="Enter a name here">
                            </td>
                        </tr>
                        <tr>
                            <td>Notes: </td>
                            <td>
                                <input type="text" ng-model="tenant.Notes" placeholder="Enter a name here">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
